/* reusable */
:root{
	--primary-color--:rgba(1,114,217,0.5);
	--second-color--:rgb(0,126,243);
	--third-color--:rgb(0, 103, 199);
	--forth-color--:rgba(2,118,238,0.5);
}

*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding:0 4vw;
}

h1,
h2,
h3{
    font-weight: 700;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 0.875em;
}

.container{
	max-width: 100%;
	margin: 0 auto;	
}

.row{
	position: relative;	
}

.col1{
	max-width: 100%;
	width: 100%;

	background-color: var(--forth-color--);

	position: absolute;
    z-index: 99;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	/* flex-wrap: wrap; */
	
}
.col1 > img:nth-of-type(2){
	padding-left: 1em;
}
.col1 > img:nth-of-type(3){
	padding-right:1em;
}
.col1 ul{
	list-style: none;
}

.col1 li{
	display: inline-block;
	padding: 0 1.5em;

}
.col1 a{
	color:#fff;
	text-decoration: none;

}

.col1-burger{
    background: transparent;
    visibility: hidden;
}

.col1-user{
    background: transparent;
    visibility: hidden;
}
main{
	max-width: 100%;
    display: grid;
	/* background-image: url("images/Man_working.png");
	background-repeat: no-repeat;
	background-position: top right 2em; */
	background-color:royalblue;
    grid-template-columns: repeat(2, 1fr);
	gap:3em;
	justify-content: center;
	align-items: center;
}

.main > h1{	
	color: white;
	font-family: 'Roboto-Regular', sans-serif;
	/* font-size: 4em; */

}

.main-image{
    max-width: 100%;
    padding: 0 1em;
}
.main-manworking{
	padding:12em 2em 2em;
}
.main-manworking >p{
	max-width: 100%;
	overflow:hidden;
	color:#fff;
	line-height: 1.5em;
}

.main-manworking input{
	border-radius: 5px;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	padding: 0.6em 3.5em;
}

.aboutus{
	padding: 0 25%;
	max-width: 100%;
	text-align: center;
	padding-bottom: 3em;
}

.aboutus > h1{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 3em;	
}
.aboutus > p{
	line-height: 1.6em;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 0.8em;
	color: #ccc;
}

.business{
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: 1fr 1fr;
	font-family: 'Roboto-Thin', sans-serif;
	color: white;
	background-color: var(--second-color--);
	
	
}

.info{
	margin:0 3em;
	padding-top:3em;
}
.business div h1{
	font-size: 2em;
}
.business div p{
	max-width: 100%;
	font-size: 0.75em;
	padding-right: 3em;
	line-height: 1.5em;
	
}
.business .arrow{
	vertical-align: bottom;

}
.business >img:nth-of-type(1){
	object-fit: contain;
}

.business div:nth-child(3){
	background-color: var(--third-color--);
}


.business .image2{
	background-color: var(--third-color--);
    object-fit: contain;
    grid-column: 2;
    grid-row: 2;
    justify-self: auto;
    align-self: center;
}

.list{
	padding-left: 3em;
}

.list .list-group{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	padding-right: 5em;
}
.list .list-group li{
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	line-height: 1.75em;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 0.75em;
	padding-top: 1em;
	

}
.list .list-group li
{
	border-bottom: 1px solid white;
}
.form{
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:3em;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto-Regular', sans-serif;
	margin: 0 6em;
}

.formulaire{
	padding-top: 10vh;
    margin: 0 2em
}

.formulaire > h1{
	margin-left: 0.3em;
	font-size: 2.5em;
}
.formulaire > p{
	margin-left: 1em;
	font-size: 0.8em;
}

form > input[type="text"]{
	line-height: 2em;
	margin: 0.5em 0;
	border: 0.2em solid rgba(204, 204, 204,0.5);
	border-radius: 0.2em;
	box-shadow: rgba(204, 204, 204, 0.16) 0px 1px 4px;
	width:28em;
	padding-left: 0.5em;
}
form input:focus{
	/* 點擊時不會出現黑框 */
	outline:none; 
}
form textarea{
	border: 0.2em solid rgba(204, 204, 204,0.5);
	border-radius: 0.2em;
	padding-left: 0.5em;
	width: 28em;
	height: 10em;
	display: block;
	clear:both;
	outline: none;
}
label{
	display: inline-block;
	width: 20em;
	clear:both;
	padding:1em 1em;
	color: rgba(94, 91, 91, 0.5);
}
input[type="checkbox"]{
	width:1.25em;
	height:1.25em;
	box-shadow: rgba(94, 91, 91, 0.5) 0px 1px 4px;
}
input[type="submit"]{
	width: 5em;
	height: 2.25em;
	border: 0.2em solid rgb(204, 204, 204);
	border-radius: 0.2em;
	width:12em;
	color: rgba(94, 91, 91, 0.5);
	margin-bottom: 5em;
	cursor: pointer;
}
.form div>img{
	max-width: 40vw;
	object-fit: contain;
	padding-right:1.5em;
}

.form-woman{
	max-width: 22vw;
	background-color: rgb(200, 234, 247);
	margin-top:4em;
	padding: 1em 2em;

}
.form-woman div>img:nth-of-type(1){
	border-radius: 50%;
	background-color: #fff;
	padding:0.5em 0.3em 0 0.3em;
}
.form-woman >p{
	font-size: 0.6em;
}
.find{
	background-color: rgb(247,247,247);
	margin: 2em 0;
	padding: 1em 2.5em;
	font-size: 0.6em;
	max-width: 22vw;
}
.find > p{
	color: rgb(133, 199, 253);
	padding: 0 0.8em;
}

.start_Bsystem{
	max-width: 100%;
	text-align: center;
	background-color: rgb(244, 244, 244);
	padding: 2em 1em;
	font-family: 'Roboto-Thin', sans-serif;

}
.start_Bsystem input{
	background-color: var(--second-color--);
	padding: 0.8em 2em;
	color:#fff;
	border-radius: 0.3em;
	border:none;
}

.media{
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 100%;
	height: 10em;
	padding: 1em 10em;
}
.fa-behance,
.fa-youtube,
.fa-instagram,
.fa-twitter,
.fa-pinterest-p
{
	color:black;
    padding: 0 0.5em;
}
footer{
	max-width: 100%;
	text-align: center;
	padding: 1.5rem;
	border-top: 0.1em solid #eee;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 1rem;
	color: #777;
	
}
footer p{
	max-width: 100%;
	text-align: center;
    padding: 0.2em 0;
    margin: 0;
	
}
.row::after{
	content: "";
	clear: both;
}

@media screen and (max-width: 767px) {
    /* body{
        background-color: blueviolet;
    } */

    .col1{
        justify-content: space-evenly;

    }
    .col1-burger{
        visibility: visible;
    }
    .col1-user{
        visibility: visible;
    }
    .col1 ul{
        display: none;
    }
    .col1-search{
        display: none;
    }

    .main-image{
        grid-area: main-image;
    }

    .main-manworking{
        grid-area:main-mainworking;
        padding-top:3em;
    }
    main{
        grid-template-columns: 1fr;        
        grid-template-areas:
        "main-image"
        "main-mainworking";
        text-align: center;
    }

    .main-manworking{
        width: 100%;
    }
    
    .info{
        grid-area: info;
    }
    .image1{
        grid-area:image1;
    }
    .image2{
        grid-area:image2;
    }
    .list{
        grid-area:list;
    }

    .business{        
        grid-template-columns: 1fr;        
        grid-template-areas: 
        "image1"
        "info"
        "image2"
        "list";
    }    
    .list{
        background-color: var(--third-color--);
        padding-bottom: 1em;
    }
    .form{
        grid-template-columns: 1fr;
    }
    .formulaire{
        margin: 0 1em;
    }
    .form-woman,
    .find{
        max-width: 100%;
    }
}