header{
	background-color: rgb(1, 114, 217);
}

header_hover
desk{
	background-color: rgb(0, 103, 199);
}

container
{
	width: 1360px;
}
magic
How do we do
Our values
Start wiht B_{
	background-color: rgb(0, 126, 243);
	width: 1000px; (left: 400px, right: 600px)
	height: 500px;
}

an urgent query{
	background-color: rgb(223, 240, 255);
}
an urgent query words{
	background-color: rgb(104, 179, 247);
}
an urgent query words T&F{
	background-color: rgb(126, 135, 144);
}


find our office bgc{
	background-color: rgb(247, 247, 247);
}

find our office sign{
	background-color: rgb(104, 176, 244);
}
find our office words{
	background-color: rgb(94	174	247, 0, 0);
}


do you want to start{
	background-color: rgb(244, 244, 244);
}
do you want to start words{
	background-color: rgb(108, 108, 108);
}